/htdocs/.htaccess
/htdocs/mt/*
/htdocs/mt-static/*

/mt-data/cgi-bin/mt/*
!/mt-data/cgi-bin/mt/mt-config.cgi

/mt-data/htdocs/mt-static
/mt-data/htdocs/mt/*
!/mt-data/htdocs/mt/.gitkeep

/node_modules

.env
.env.testing
.env.backup
.env.production
npm-debug.log
yarn-error.log
.DS_Store

/.fleet
/.idea
/.vscode
